<div>
    <p>Select one:</p>
    <div class="btn-group">
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Left'">Left</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Middle'">Middle</label>
        <label class="btn btn-primary" ng-model="radioModel" uib-btn-radio="'Right'">Right</label>
    </div>
    <pre>{{radioModel || 'null'}}</pre>


<!--    kuler app idea isnt going to work. the api is dead. -->
<!--    maybe play the wikipedia link game? -->
<!--    maybe something with last fm ? -->
<!--    instagram follow places? -->
</div>
