<div class="jumbotron">
    <h1>{{ gameName }}</h1>
    
    <p>This game is all about navigating through Wikipedia articles.</p>
    
    <p class="lead">Find your way to the <span class='h2'>{{ goal }}</span> article in the fewest clicks possible.</p>
    
    <p>You will start on a random page. Navigate by clicking 
        <a class='label label-primary fixed-font' href='#/' uib-popover="Yeah, just like that!" popover-trigger="'click'" popover-placement='right' popover-append-to-body="true">these things</a>
    </p>
    
<!--    <p>You only have 5 clicks, so don't waste them.</p>-->
    
    <p>Good luck!</p>
    
    <a class="btn btn-lg btn-success" ng-href="{{ playBtnUrl }}" ng-disabled='!ready'>
        Play <span class="glyphicon glyphicon-ok"></span>
    </a>
    
</div>
