<div>
    <!--        TODO: dsiplay some loading feedback -->
    <!--        TODO: extend the active vertical tab background over to the middle ...add overflow ... to buttons.  &| change the color -->
    <!--        TODO: add popover api call with short lookup... -->
    <!--        TODO: make the start and dest the query parameters  -->
    <!--        TODO: more attention to detail on the api calls. add more comments and optional param defaults.-->

    <p class="h3 text-center"> Articles </p>
    <hr/>
    <div ng-repeat='node in stack track by $index' class="text-center">
        <span ng-if='node.title === goal'> <span ng-init='finished()'></span></span>
        <div ng-if='node.title !== goal'>
            <button class='btn col-xs-12' uib-popover="{{ node.title }}" popover-trigger="'mouseenter'" popover-placement='right' popover-append-to-body="true" ng-class=" {'btn-default': !$last, 'btn-warning': $last} "> {{ $index + 1}}. {{ node.title | pretty }} </button>
            <span class="glyphicon glyphicon-arrow-down "></span>
        </div>
    </div>
    <p ng-hide='atFinish' class="text-center">
        <button class='btn btn-default col-xs-12' ng-disabled='true'> ??? </button>
        <span class="glyphicon glyphicon-arrow-down "></span>
    </p>
    
<!--    <button class='btn btn-danger col-xs-12' uib-popover="{{ article.title | pretty }}" popover-trigger="'mouseenter'" popover-placement='right' popover-append-to-body="true">{{ article.title | pretty }}</button>-->
<!--    <p class="text-center">-->
<!--        <span class="glyphicon glyphicon-arrow-down "></span>-->
<!--    </p>-->
    
    
    <button class='btn btn-success col-xs-12' uib-popover="{{ target }}" popover-trigger="'mouseenter'" popover-placement='right' popover-append-to-body="true"> {{ goal | pretty }}</button>
    
    <br><hr/>
    


</div>