<div>
<!--    design a directive that can push "nodes" that will count the users progress -->
    <p class="h2">Get to this target page: </p>
    <pre>{{ target | json }}</pre>
    <button class='btn btn-primary' ng-click='getPage(target.title)'>Load Target Page</button>
    
    <p class="h2"> {{ article.title}} </p>
    <div dynamic-html='article.html'></div>
    
    <button class='btn btn-primary' ng-click='getRandomPage()'>Random Page</button>
    <pre>{{ currentPage | json }}</pre>

</div>
